body {
	background-color: white;
}

.theView {
	width: 90%;
	margin: auto;
}

/*introduction to app-------------*/
.introBox {
	width: 60%;
	min-height: 300px;
	margin: auto;
	padding: 5px;
	border: solid black 2px;
	border-radius: 5px;
	background-color: #dee;
	text-align: justify;
}

.hideIntroButton {
	height: 100px;
	width: 100%;
	font-size: 36pt !important;
}

/*title and instructions-----------*/
.title {
	font-size: 36pt;
	text-align: center;
	text-shadow: 8px 8px 12px green;
}

.instructions {
	font-size: 22pt;
	padding: 5px;
	border-radius: 10px;
	padding-left: 50px;
	line-height: 10px;
}

/*word entry section---------------*/

.wordEntry button {
	font-size: 12pt;
	margin: 15px;
	margin-top: 10px;
}

.heroGenderTitle {
	font-size: 24pt;
}

.inputBox {
	margin-left: 8px;
	margin-top: 8px;
	vertical-align: middle;
	min-height: 220px;
	text-align: center;
	width: 158px;
	display: inline-block;
	border: 1px black solid;
	border-radius: 5px;
	box-shadow: 2px 2px 3px green;
}

.inputField {
	font-size: 12pt;
	width: 90%;
	margin: 2px;
}

.inputField.singleField {
	margin-top: 24px;
}

/*stories---------------------------*/
.stories {
	font-size: 24pt;
	border: solid black 3px;
	border-radius: 10px;
}

.fullPage {
	min-height: 200px;
	width: 80%;
	margin: auto;
}

.fillerStory {
	font-size: 24pt;
}

.completeStory {
	padding: 10px;
}

/*buttons---------------------------*/

.showStoryButtons {
	padding: 20px;
}

.showStoryButtons button {
	font-size: 18pt;
}

.gameButtons {
	min-height: 10px;
	padding: 20px;
}

.gameButtons button {
	font-size: 18pt;
}

.maleButton, .femaleButton {
	font-size: 24pt !important;
	background-color: #aaccaa;
}

.maleButton:hover, .femaleButton:hover {
	box-shadow: 2px 2px 3px green;
	background-color: #abddaa;
}

.allRandomButton {
	font-size: 24pt !important;
	background-color: #aea;
}

.allRandomButton:hover {
	box-shadow: 2px 2px 3px green;
	background-color: #abddaa;
}

.ranButton {
	background-color: #ada;
	border-radius: 5px;
}

.ranButton:hover {
	background-color: #afa;
	color: grey;
}

.ranButton.singleField {
	margin-top: 44px;
}

.buttonDisabled {
	opacity: 0.65;
	cursor: not-allowed;
}

.genWordsButtonWhileReading {
	float: right;
}

/*error messages--------------------*/

.errorMessage {
	color: red;
	font-style: italic;
	background-color: yellow;
}

/*footer-----------------------------*/

.foot {
	width: 100%;
	background-color: green;
	height: 108px;
	margin-bottom: -30px;
	color: white;
}

.foot h1 {
	width: 200px;
	padding-top: 10px;
	margin-left: 20px;
	margin-bottom: -30px;
}

.foot h1 {
	display: inline-block;
}

.foot img {
	height: 100px;
	width: 100px;
	margin-right: 50px;
}